# -------------------------------
# Python / FastAPI Project Ignore
# -------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Git & CI FILES
.gitignore
.git
.github/

# Virtual environment
myenv/
venv/
.env/
.venv/

# Environment variables
.env
*.env

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs and databases
*.log
*.sqlite3
*.db
*.pid

# VSCode / PyCharm / IDE configs
.vscode/
.idea/

# Testing / coverage
.coverage
.pytest_cache/

# Build / distribution files
build/
dist/
*.egg-info/
*.egg

# Dependency caches
pip-wheel-metadata/
__pypackages__/


# -------------------------------
# End of .gitignore
# -------------------------------
